@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
html, body {
    width: 100%;
    height:  100%;
    padding: 0;
    margin: 0;
    font-family: OpenSans;
    min-width: 320px;
    width: 100%;
}
header ::before {
    padding-top: 10px;
    padding-bottom: 22px;
}
.content-wrapper {
    max-width: 1220px;
    margin: 0 auto;
    width: 100%;
}
h1, h4, h5 {font-family: OpenSans; font-weight: bold;;}
h4 {
    font-size: 40px;
    text-align: center;
}
h5 {margin: 0;}
h5 span {color: #f68263;}
h6{
    padding: 40px 0;
    line-height: 35px;
}
a, a:hover {text-decoration: none;}
p, p:hover {
    font-size: 20px;
    line-height: 30px;
}
p span{font-family: OpenSans; font-weight: bold;;}
/* sm */
@media (min-width: 320px) {
    h1{font-size: 25px;}
    h4{font-size: 28px;}
    h5{font-size: 24px;}
    h6{font-size: 20px;}
    header p{font-size: 25px;}
    section p{font-size: 16px;}
    footer a{font-size: 16px;}
    .text_right>p{font-size: 18px;}
}
/* md */
@media (min-width: 768px) {
    h1{font-size: 28px;}
    h4{font-size: 28px;}
    h5{font-size: 28px;}
    h6{font-size: 20px;}
    section h5{text-align: left;}
    header p{font-size: 28px;}
    section p{font-size: 16px;}
    footer a{font-size: 16px;}
    .border,
    .border_first:before,
    .border_last:before{
        border-left: 2px solid #bdbdbd;
    }
    .title:before{background: #bdbdbd;}
    .text_right>p{font-size: 18px;}
}
/* lg */
@media (min-width: 1140px) {
    h1{font-size: 40px;}
    h4{font-size: 40px;}
    h5{font-size: 35px;}
    h6{font-size: 22px;}
    header p{font-size: 40px;}
    section p{font-size: 20px;}
    footer a{font-size: 20px;}
    .text_right>p{font-size: 24px;}
}
@media (max-width: 992px) {
    .btn_line .btn:last-child{
        margin-right: 0;
    }
    .btn_line .group_btn_dwnl a{
        margin: 16px 0 0 0;
    }
}
@media (max-width: 1002px) {
    .btn_line .btn:last-child, .about>a:last-child{
        margin-right: 0;
    }
}
@media (max-width: 720px) {
    .btn_line .btn{
        display: block;
        max-width: 250px;
    }
    .btn_line>.btn:first-child{margin: 0 auto;}
    .btn_line .btn:last-child{
        margin: 0 auto;
        margin-top: 17px;
    }
    .child_relative a{font-size: 16px;}
}
h3{
    font-size: 22px;
    padding: 35px 0;
}
header ul{padding-left: 24px;}
header li{font-size: 20px;}

header .icon{
    padding-top: 4rem;
    padding-right: 2rem;
}
.bg_texture {
    background: url("../img/bg_fon.jpg")  repeat top / cover;
    padding-bottom: 50px;
}
.col-md-5{padding: 0;}
.btn_line{
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
}
.btn_line .btn {
    max-width: 285px;
    width: 100%;
}
.btn_line>.btn_wind{background-color: #3581d5;}
.btn_line>.btn_mac{background-color: #1962b2;}

.btn_dwl div{margin: 30px 30px 30px 0;}
.btn-lg{
    font-size: 20px;
    padding: 22px 0;
    margin-right: 30px;
}
.content{padding-top: 45px;}
.content h4{
    padding: 25px 0;
    margin: 0;
}
.content p{padding: 15px 0 10px 0;}
.fon_bg {background: #eeeeee;}
.border{
    position: relative;
    margin-left: 5px;
}
.border_first{
    position: relative;
    margin-left: 7px;
}
.border_first:before{
    content: '';
    position: absolute;
    height: calc(100% - 55px);
    left: -2px;
    top: 55px;
}
.border_last{
    position: relative;
    margin-left: 7px;
}
.border_last div> h5{
    padding-left: 0;
    padding-top: 0;
}
.border_last img{padding-top: 35px;}
.border_last p{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
.border_last:before{
    content: '';
    position: absolute;
    height: 60px;
    left: -2px;
    top: 0;
}
.border_last .btn_line{padding-top: 40px;}
.border_last .btn_line+.about{padding-top: 0px;}
.about>a{
    text-align: center;
    margin-right: 30px;
    min-width: 250px;
    display: inline-block;
}
.about>a:hover{text-decoration: underline;
}
.end_line {padding-bottom: 60px;}
section h5{padding: 40px 0 20px 15px;}
.title img{padding-bottom: 20px;}
.title:before {
    border-radius: 50%;
    content: '';
    position: absolute;
    left: -6px;
    top: 55px;
    height: 10px;
    width: 10px;
}
.col_center{
    float: none;
    display: block;
    margin: 0 auto;
}
.ident_imj{
    padding: 0 25%;
    margin: 0 auto;
}
.case_page{padding-bottom: 25px;}
.btn_box_1 {
    border-radius: 5px;
    font-size: 20px;
    border: 3px solid #2e6da4;
    display: table;
    margin: 30px auto;
    width: 100%;
    max-width: 746px;
}
.btn_box_1 .nav-tabs > li > a {
    font-family: OpenSans;
    border: 1px solid #ddd;
    border-radius: 0;
    min-width: 370px;
    text-align: center;
    margin: 0;
    padding: 16px 0;
}
.btn_box_1 .nav-tabs > li.active > a,
.btn_box_1 .nav-tabs > li.active > a:hover,
.btn_box_1 .nav-tabs > li.active > a:focus {
    color: #fefefe;
    cursor: default;
    background-color: #3581d5;
    border: 1px solid #3581d5;
}
.btn_box_1 .nav-tabs > li.active:after{display: block;}
.btn_box_2 .nav-tabs > li > a{
    font-family: OpenSans;
    color: black;
    font-size: 16px;
    min-width: 156px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}
.btn_box_2 .nav-tabs > li.active > a,
.btn_box_2 .nav-tabs > li.active > a:hover,
.btn_box_2 .nav-tabs > li.active > a:focus {
    font-family: OpenSans;
    font-weight: bold;;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    color: black;
}
.btn_list{
    font-size: 20px;
    color: #3581d5;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}
.btn_mode{
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    width: 50%;
    text-align: center;
}
.btn_easy, .btn_full{color: #407083;}

.case_page {
    padding-left: 20px;
    background: #eeeeee;
}
.step_top{padding-top: 80px;}
.step_left{padding-left: 30px;}
.step_bottom{padding-bottom: 50px;}
.col-middle {vertical-align: middle;}
.slideshow{background: #fff;}

.picture, .video, .text{padding-left:50px;}
.picture{background: url("../img/ico_img.png") no-repeat left center;}
.video{background: url("../img/ico_video.png") no-repeat left center;}
.text{background: url("../img/ico_text.png") no-repeat left center;}
.group_btn_dwnl {
    max-width: 285px;
    width: 100%;
    margin: 0 auto;
}
.group_btn_dwnl >div{ padding: 5px;}
footer h5{
    text-align: center;
    padding-bottom: 14px;
}
.box_relative {
    text-align: center;
    width: 100%
}
.box_relative_wrapper {
    display: inline-block;
    width: calc(96% + 32px);
    padding: 65px 0 40px 0;
}

.child_relative {
    display: inline-block;
    width: 38%;
    margin-left: 30px;
    min-width: 287px;
}
.child_relative:first-child {
    margin-left: 0;
}
.review_block {
    vertical-align: top;
    font-size: 20px;
}
.review_block div {
    width: 100%;
    height: 70px;
    display: inline-block;

    margin: 16px 0;
    padding: 0 20px;

    border-radius: 6px;
    background-color: #eeeeee;
    border: 2px dashed #bdbdbd;
    text-align: left;

    position: relative;
}
.review_block a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;

}
@media (max-width: 600px) {
    .child_relative {
        width: 44%;
        margin: 0;
        font-size: 16px;
    }
    .box_relative_wrapper {
        text-align: center;
        max-width: calc(100% - 40px);
    }
    .child_relative:first-child {
        margin-top: 0;
    }
    .child_relative:last-child{
        margin-top: 32px;
    }
}
.child_relative_review:active {
    background-color: #b4d1f2;
    border: 2px dashed #b4d1f2;
}
.box_relative_sup{padding: 80px 0;}
.sup_contain{
    background-color: #e3f0ff;
    border-radius: 6px;
}
.img_left {
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    padding-left: 5%;
}
.text_right{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.text_right>p{color: #3581d5;}
.icon{
    display: inline-block;
    width: 100%;
    height: auto;
}